<ul class="banner-list">
  <li>
    <a href="https://www2.myjcom.jp/tv/?t=sports&cid=s_skya_tvtop&utm_campaign=s_skya_tvtop&utm_medium=referral&utm_source=spl" target="_blank"
      ><img alt="スポーツ専門チャンネルで放送する今日・明日の番組" height="80" src="../../img/special/draft2024/banner_1.png" width="275"
    /></a>
  </li>
  <li>
    <a href="https://www.jcom.co.jp/promo/spls/?mode=baseball&spl=tigers&cid=s_skya_baseball&utm_source=spl&utm_medium=referral&utm_campaign=skya_baseball" target="_blank"
      ><img alt="阪神戦を見るならJcomで決まり！" height="80" src="../../img/special/draft2024/banner_2.png" width="274"
    /></a>
  </li>
  <li>
    <a href="https://www.jcom.co.jp/promo/spls/?mode=watch&spl=skya&cid=s_skya_watch&utm_source=spl&utm_medium=referral&utm_campaign=skya_watch" target="_blank"
      ><img alt="J:COMでスカイAを見る！" height="80" src="../../img/special/draft2024/banner_3.png" width="274"
    /></a>
  </li>
  <li>
    <a href="https://promo.skyperfectv.co.jp/guide/?skya=howto" target="_blank"><img alt="スカパー！でスカイAを見る！" height="80" src="../../img/special/draft2024/banner_4.png" width="274" /></a>
  </li>
  <li>
    <a href="https://www.hikaritv.net/ch_lp/751/?utm_source=hktpartner&utm_medium=other&utm_campaign=hkt_202304_acst-skyA" target="_blank"
      ><img alt="ひかりTV" height="80" src="../../img/special/draft2024/banner_5.png" width="274"
    /></a>
  </li>
  <li>
    <a href="https://auhikari.tv/?utm_source=skyA&utm_medium=banner&utm_campaign=LP" target="_blank"
      ><img alt="auひかりテレビサービス WEBでお申し込み 最大2ヶ月0円" height="80" src="../../img/special/draft2024/banner_6.png" width="275"
    /></a>
  </li>
</ul>
