<div class="content-block">
  <div class="index">
    <h2 class="index-title">INDEX</h2>
    <ul class="index-list">
      <li class="index-list-item"><a class="index-list-link" href="#program1">ドラフトまでの軌跡</a></li>
      <li class="index-list-item"><a class="index-list-link" href="#program2">突撃ドラフト取材日記</a></li>
      <li class="index-list-item"><a class="index-list-link" href="#program3">2024年ドラフト、注目の選手たち</a></li>
    </ul>
  </div>
</div>

<div class="content-block dark-gray">
  <section class="program road_to_draft" id="program1">
    <div class="program-title">
      <p class="program-title-category">column</p>
      <h2 class="program-title-text">ドラフトまでの軌跡</h2>
      <p class="program-title-sub">Road to Draft 2024</p>
    </div>
    <p class="program-title-small">アマチュア野球を中心に年間約300試合を取材、全国各地を飛び回るスポーツライター西尾典文が2024年ドラフト会議までの軌跡を綴ります。</p>

    <article class="writer-profile">
      <div class="program-content">
        <div class="program-content-visual"><img alt="西尾 典文" src="../../img/special/draft2024/column_writer1.jpg" /></div>

        <div class="program-content-detail">
          <h3 class="writer-name">西尾 典文<span>Norifumi NISHIO</span></h3>
        </div>
      </div>

      <p class="program-content-caption-text">
        1979年、愛知県生まれ。大学まで選手としてプレーした後、筑波大学大学院で野球の動作解析について研究し、在学中から技術解析などをテーマに野球専門誌に寄稿を開始。2017年からはスカイＡのドラフト会議中継で解説を務め、2021年には仮想ドラフト会議にも出演。<br />
        アマチュア野球を中心に年間約300試合を取材する熱血スポーツライター。
      </p>
    </article>
    <%#
    <p class="heading-title">
      <span>coming soon</span><br>
      8月中旬公開予定！以後、毎週1本掲載していきます
    </p>
    %>
    <ol class="program-column">
      <li class="program-column-list">
        <div class="program-column-visual"><a href="https://sky-a.asahi.co.jp/news/1462/"><span class="program-column-number">#10</span> <img alt="" height="auto" src="/img/special/draft2024/column1_10.jpg" width="360"> </a> <span class="program-column-visual-caption">© 野球太郎</span></div>

        <div class="program-column-detail">
          <dl class="program-column-title">
            <dt><a href="https://sky-a.asahi.co.jp/news/1462/">2024/10/17　【ドラフトへの軌跡2024】第10回</a></dt>
            <dd><a href="https://sky-a.asahi.co.jp/news/1462/"><ruby>宮原 駿介<rp>(</rp><rt>ミヤハラ シュンスケ</rt><rp>)</rp></ruby>（東海大静岡キャンパス）　4年　投手</a></dd>
          </dl>
          <p class="program-column-text"><a href="https://sky-a.asahi.co.jp/news/1462/">ラフト候補となる選手のプレーを現場で見ていると、最初の印象が良くても2度目以降は欠点が気になるというケースも多い...</a></p>
          <p class="program-column-link"><a href="https://sky-a.asahi.co.jp/news/1462/">続きを読む</a></p>
        </div>
      </li>
      <li class="program-column-list">
        <div class="program-column-visual"><a href="https://sky-a.asahi.co.jp/news/1450/"><span class="program-column-number">#09</span> <img alt="" height="auto" src="/img/special/draft2024/column1_9.jpg" width="360"> </a> <span class="program-column-visual-caption">© 野球太郎</span></div>

        <div class="program-column-detail">
          <dl class="program-column-title">
            <dt><a href="https://sky-a.asahi.co.jp/news/1450/">2024/10/08　【ドラフトへの軌跡2024】第9回</a></dt>
            <dd><a href="https://sky-a.asahi.co.jp/news/1450/"><ruby>石塚 裕惺<rp>（</rp><rt>イシヅカ ユウセイ</rt><rp>）</rp></ruby>（花咲徳栄）　3年　遊撃手</a></dd>
          </dl>
          <p class="program-column-text"><a href="https://sky-a.asahi.co.jp/news/1450/">このコラムも残すところあと2回。高校生については今回が最後となり、誰を紹介しようか迷ったが、ポジション関係なく最...</a></p>
          <p class="program-column-link"><a href="https://sky-a.asahi.co.jp/news/1450/">続きを読む</a></p>
        </div>
      </li>
      <li class="program-column-list">
        <div class="program-column-visual"><a href="https://sky-a.asahi.co.jp/news/1446/"><span class="program-column-number">#08</span> <img alt="" height="auto" src="/img/special/draft2024/column1_8.jpg" width="360"> </a> <span class="program-column-visual-caption">© 野球太郎</span></div>
        <div class="program-column-detail">
          <dl class="program-column-title">
            <dt><a href="https://sky-a.asahi.co.jp/news/1446/">2024/10/03　【ドラフトへの軌跡2024】第8回</a></dt>
            <dd><a href="https://sky-a.asahi.co.jp/news/1446/"><ruby>西村 王雅<rp>（</rp><rt>ニシムラ オウガ</rt><rp>）</rp></ruby>（東芝）　20歳　投手</a></dd>
          </dl>
          <p class="program-column-text"><a href="https://sky-a.asahi.co.jp/news/1446/">社会人野球の選手というと即戦力が期待されることが多いが、中には将来性を買われて指名されるケースも存在している...</a></p>
          <p class="program-column-link"><a href="https://sky-a.asahi.co.jp/news/1446/">続きを読む</a></p>
        </div>
      </li>
      <li class="program-column-list">
        <div class="program-column-visual"><a href="https://sky-a.asahi.co.jp/news/1443/"><span class="program-column-number">#07</span> <img alt="" height="auto" src="/img/special/draft2024/column1_7.jpg" width="360"> </a> <span class="program-column-visual-caption">© 野球太郎</span></div>
        <div class="program-column-detail">
          <dl class="program-column-title">
            <dt><a href="https://sky-a.asahi.co.jp/news/1443/">2024/09/27　【ドラフトへの軌跡2024】第7回</a></dt>
            <dd><a href="https://sky-a.asahi.co.jp/news/1443/"><ruby>麦谷 祐介<rp>（</rp><rt>ムギタニ ユウスケ</rt><rp>）</rp></ruby>（富士大）　4年　外野手</a></dd>
          </dl>
          <p class="program-column-text"><a href="https://sky-a.asahi.co.jp/news/1443/">今年、地方大学で最も注目を集めているチームと言えば富士大になるだろう。昨年は春の大学選手権、秋の明治神宮大会で...</a></p>
          <p class="program-column-link"><a href="https://sky-a.asahi.co.jp/news/1443/">続きを読む</a></p>
        </div>
      </li>
      <li class="program-column-list">
        <div class="program-column-visual"><a href="https://sky-a.asahi.co.jp/news/1434/"><span class="program-column-number">#06</span> <img alt="" height="auto" src="/img/special/draft2024/column1_6.jpg" width="360"> </a> <span class="program-column-visual-caption">© 野球太郎</span></div>
        <div class="program-column-detail">
          <dl class="program-column-title">
            <dt><a href="https://sky-a.asahi.co.jp/news/1434/">2024/09/20　【ドラフトへの軌跡2024】第6回</a></dt>
            <dd><a href="https://sky-a.asahi.co.jp/news/1434/"><ruby>村上 泰斗<rp>（</rp><rt>ムラカミ タイト</rt><rp>）</rp></ruby>（神戸弘陵）　３年　投手</a></dd>
          </dl>
          <p class="program-column-text"><a href="https://sky-a.asahi.co.jp/news/1434/">今年最も強く印象に残っている試合の一つがこの練習試合だ。何よりも驚かされたのが視察に訪れていたスカウトの数で...</a></p>
          <p class="program-column-link"><a href="https://sky-a.asahi.co.jp/news/1434/">続きを読む</a></p>
        </div>
      </li>
      <li class="program-column-list">
        <div class="program-column-visual"><a href="https://sky-a.asahi.co.jp/news/1424/"><span class="program-column-number">#05</span> <img alt="" height="auto" src="/img/special/draft2024/column1_5.jpg" width="360"> </a> <span class="program-column-visual-caption">© 野球太郎</span></div>
        <div class="program-column-detail">
          <dl class="program-column-title">
            <dt><a href="https://sky-a.asahi.co.jp/news/1424/">2024/09/13　【ドラフトへの軌跡2024】第5回</a></dt>
            <dd><a href="https://sky-a.asahi.co.jp/news/1424/"><ruby>浦田 俊輔<rp>（</rp><rt>ウラタ シュンスケ</rt><rp>）</rp></ruby>（九州産業大）　4年　遊撃手</a></dd>
          </dl>
          <p class="program-column-text"><a href="https://sky-a.asahi.co.jp/news/1424/">今年の野手では宗山塁（明治大・遊撃手）が最大の目玉と見られているが、大学生のショートでそれに次ぐ存在とし...</a></p>
          <p class="program-column-link"><a href="https://sky-a.asahi.co.jp/news/1424/">続きを読む</a></p>
        </div>
      </li>
      <li class="program-column-list">
        <div class="program-column-visual"><a href="https://sky-a.asahi.co.jp/news/1417/"><span class="program-column-number">#04</span> <img alt="" height="auto" src="/img/special/draft2024/column1_4.jpg" width="360"> </a> <span class="program-column-visual-caption">© 野球太郎</span></div>
        <div class="program-column-detail">
          <dl class="program-column-title">
            <dt><a href="https://sky-a.asahi.co.jp/news/1417/">2024/09/06　【ドラフトへの軌跡2024】第4回</a></dt>
            <dd><a href="https://sky-a.asahi.co.jp/news/1417/"><ruby>斎藤 大翔<rp>（</rp><rt>サイトウ ヒロト</rt><rp>）</rp></ruby>（金沢）　3年　遊撃手</a></dd>
          </dl>
          <p class="program-column-text"><a href="https://sky-a.asahi.co.jp/news/1417/">今年の高校生野手はU18侍ジャパンにも選出された石塚裕惺（花咲徳栄・遊撃手）などショートに注...</a></p>
          <p class="program-column-link"><a href="https://sky-a.asahi.co.jp/news/1417/">続きを読む</a></p>
        </div>
      </li>
      <li class="program-column-list">
        <div class="program-column-visual"><a href="https://sky-a.asahi.co.jp/news/1414/"><span class="program-column-number">#03</span> <img alt="" height="auto" src="/img/special/draft2024/column1_3.jpg" width="360"> </a> <span class="program-column-visual-caption">© 野球太郎</span></div>
        <div class="program-column-detail">
          <dl class="program-column-title">
            <dt><a href="https://sky-a.asahi.co.jp/news/1414/">2024/08/30　【ドラフトへの軌跡2024】第3回</a></dt>
            <dd><a href="https://sky-a.asahi.co.jp/news/1414/"><ruby>野口 泰司<rp>（</rp><rt>ノグチ タイシ</rt><rp>）</rp></ruby>（NTT東日本）　23歳　捕手</a></dd>
          </dl>
          <p class="program-column-text"><a href="https://sky-a.asahi.co.jp/news/1414/">高校や大学時代にプロ志望届を提出しながら指名漏れとなり社会人に進む選手は少なくないが、指名解...</a></p>
          <p class="program-column-link"><a href="https://sky-a.asahi.co.jp/news/1414/">続きを読む</a></p>
        </div>
      </li>
      <li class="program-column-list">
        <div class="program-column-visual"><a href="https://sky-a.asahi.co.jp/news/1408/"><span class="program-column-number">#02</span> <img alt="" height="auto" src="/img/special/draft2024/column1_2.jpg" width="360"> </a> <span class="program-column-visual-caption">© 野球太郎</span></div>
        <div class="program-column-detail">
          <dl class="program-column-title">
            <dt><a href="https://sky-a.asahi.co.jp/news/1408/">2024/08/23　【ドラフトへの軌跡2024】第2回</a></dt>
            <dd><a href="https://sky-a.asahi.co.jp/news/1408/"><ruby>金丸 夢斗<rp>（</rp><rt>カネマル ユメト</rt><rp>）</rp></ruby>（関西大）　4年　投手</a></dd>
          </dl>
          <p class="program-column-text"><a href="https://sky-a.asahi.co.jp/news/1408/">アマチュア選手の場合、最初の印象が良いとその後はだんだん欠点や課題が気になることが多く、何度見ても素...</a></p>
          <p class="program-column-link"><a href="https://sky-a.asahi.co.jp/news/1408/">続きを読む</a></p>
        </div>
      </li>
      <li class="program-column-list">
        <div class="program-column-visual"><a href="https://sky-a.asahi.co.jp/news/1390/"><span class="program-column-number">#01</span> <img alt="" height="auto" src="/img/special/draft2024/column1_1.jpg" width="360"> </a> <span class="program-column-visual-caption">© 野球太郎</span></div>
        <div class="program-column-detail">
          <dl class="program-column-title">
            <dt><a href="https://sky-a.asahi.co.jp/news/1390/">2024/08/14　【ドラフトへの軌跡2024】第1回</a></dt>
            <dd><a href="https://sky-a.asahi.co.jp/news/1390/"><ruby>柴田 獅子<rp>（</rp><rt>シバタ レオ</rt><rp>）</rp></ruby>（福岡大大濠）　3年　投手</a></dd>
          </dl>
          <p class="program-column-text"><a href="https://sky-a.asahi.co.jp/news/1390/">1年で最も球場を訪れることが多く、スケジュールを組むのに頭を悩ませるのが7月だ。高校野球では全国で地方大会が...</a></p>
          <p class="program-column-link"><a href="https://sky-a.asahi.co.jp/news/1390/">続きを読む</a></p>
        </div>
      </li>
    </ol>
  </section>
</div>

<div class="content-block sky-blue">
  <section class="program road_to_draft diary" id="program2">
    <div class="program-title">
      <div class="program-title-main">
        <div class="program-title-content">
          <p class="program-title-category">interview</p>
          <h2 class="program-title-text diary"><img alt="新人" src="/img/special/draft2024/text_01.png" width="98" height="40" />坂下侑香の！<br />突撃ドラフト取材日記</h2>
          <p class="program-title-sub">Draft Interview Diary 2024</p>
        </div>
        <div class="program-title-image">
          <img alt="坂下侑香" src="/img/special/draft2024/column_writer2.png" width="324" height="263" />
        </div>
      </div>
    </div>

    <h3 class="program-title-small diary">ドラフトハンター注目選手たちの「声」を聞いてきました。</h3>
    <p>スカイA入社１年目の坂下侑香です！<br>
      大学時代は近畿大学体育会準硬式野球部でマネージャーを務めながら、阪神甲子園球場と京セラドーム大阪でのアルバイト生活。社会人になった今も、休日は球団や一軍二軍を問わず全国各地へ野球観戦に行くほどの野球好きの私。<br />
      家族や友人そして会社の先輩方にも推し選手について語り尽くす毎日です&hellip;！<br />
      改めてアマチュア野球の魅力にもはまり、独自の感性と目線で選手の素顔まで取材！<br />
      一人でも多くの方に野球を好きになっていただけるよう、野球愛を全力投球します！！
    </p>
    <ol class="program-column">
      <li class="program-column-list">
        <div class="program-column-visual"><a href="https://www.sky-a.asahi.co.jp/news/1479/"><span class="program-column-number type2">#11</span> <img alt="" height="140" src="/img/special/draft2024/column2_11.jpg" width="360"> </a></div>
        <div class="program-column-detail">
          <dl class="program-column-title">
            <dt><a href="https://www.sky-a.asahi.co.jp/news/1479/">2024/10/23　突撃取材日記 その11</a></dt>
            <dd><a href="https://www.sky-a.asahi.co.jp/news/1479/">「未来の大谷翔平選手！？偏差値70の進学校から世界へ羽ばたく二刀流高校生！」<ruby>森井翔太郎<rp>（</rp><rt>モリイ ショウタロウ</rt><rp>）</rp></ruby>(桐朋高校)</a></dd>
          </dl>
          <p class="program-column-text"><a href="https://www.sky-a.asahi.co.jp/news/1479/">最速153キロ投手でもあり、高校通算45本塁打の遊撃手でもある桐朋高校の森井翔太郎くん！実は森井くん、“日本のプロ野球選手になる”“メジャーリーガーに...</a></p>
          <p class="program-column-link"><a href="https://www.sky-a.asahi.co.jp/news/1479/">続きを読む</a></p>
        </div>
      </li>
      <li class="program-column-list">
        <div class="program-column-visual"><a href="https://sky-a.asahi.co.jp/news/1478/"><span class="program-column-number type2">#10</span> <img alt="" height="140" src="/img/special/draft2024/column2_10.jpg" width="360"> </a></div>
        <div class="program-column-detail">
          <dl class="program-column-title">
            <dt><a href="https://sky-a.asahi.co.jp/news/1478/">2024/10/19　突撃取材日記 その10</a></dt>
            <dd><a href="https://sky-a.asahi.co.jp/news/1478/">「佐々木朗希投手に続く令和の怪物を目指せ！高校生No.1投手！」<ruby>今朝丸裕喜<rp>（</rp><rt>ケサマル ユウキ</rt><rp>）</rp></ruby>(報徳学園高校)</a></dd>
          </dl>
          <p class="program-column-text"><a href="https://sky-a.asahi.co.jp/news/1478/">春の選抜甲子園でチーム2年連続の準優勝に貢献した世代ナンバーワン投手である、報徳学園高校の今朝丸裕喜（ケサマル ユウキ）くん！部活の引退後も...</a></p>
          <p class="program-column-link"><a href="https://sky-a.asahi.co.jp/news/1478/">続きを読む</a></p>
        </div>
      </li>
      <li class="program-column-list">
        <div class="program-column-visual"><a href="https://sky-a.asahi.co.jp/news/1469/"><span class="program-column-number type2">#09</span> <img alt="" height="140" src="/img/special/draft2024/column2_9.jpg" width="360"> </a></div>
        <div class="program-column-detail">
          <dl class="program-column-title">
            <dt><a href="https://sky-a.asahi.co.jp/news/1469/">2024/10/16　突撃取材日記 その9</a></dt>
            <dd><a href="https://sky-a.asahi.co.jp/news/1469/">「昨年ベストナインを受賞した、3年生ながら注目されている慶應ボーイ！」<ruby>外丸 東眞<rp>（</rp><rt>ソトマル アヅマ</rt><rp>）</rp></ruby>(慶応義塾大学)</a></dd>
          </dl>
          <p class="program-column-text"><a href="https://sky-a.asahi.co.jp/news/1469/">今まで多くの大学4年生を取材させていただきましたが、今回は大学3年生！今年の注目選手を探していると、3年生ながら既に注目されていると...</a></p>
          <p class="program-column-link"><a href="https://sky-a.asahi.co.jp/news/1469/">続きを読む</a></p>
        </div>
      </li>
      <li class="program-column-list">
        <div class="program-column-visual"><a href="https://sky-a.asahi.co.jp/news/1460/"><span class="program-column-number type2">#08</span> <img alt="" height="140" src="/img/special/draft2024/column2_8.jpg" width="360"> </a></div>
        <div class="program-column-detail">
          <dl class="program-column-title">
            <dt><a href="https://sky-a.asahi.co.jp/news/1460/">2024/10/15　突撃取材日記 その8</a></dt>
            <dd><a href="https://sky-a.asahi.co.jp/news/1460/">「3月に京セラドーム大阪で一躍脚光を浴びた最速159キロ投手！」<br>
              <ruby>中村 優斗<rp>（</rp><rt>ナカムラ ユウト</rt><rp>）</rp></ruby>(愛知工業大学)</a></dd>
          </dl>
          <p class="program-column-text"><a href="https://sky-a.asahi.co.jp/news/1460/">大学生投手の中で、「右の中村・左の金丸」と言われているほどプロ大注目の中村くん。3月に京セラドーム大阪で開催された侍JAPAN×欧州代表...</a></p>
          <p class="program-column-link"><a href="https://sky-a.asahi.co.jp/news/1460/">続きを読む</a></p>
        </div>
      </li>
      <li class="program-column-list">
        <div class="program-column-visual"><a href="https://sky-a.asahi.co.jp/news/1444/"><span class="program-column-number type2">#07</span> <img alt="" height="140" src="/img/special/draft2024/column2_7.jpg" width="360"> </a></div>
        <div class="program-column-detail">
          <dl class="program-column-title">
            <dt><a href="https://sky-a.asahi.co.jp/news/1444/">2024/09/27　突撃取材日記 その7</a></dt>
            <dd><a href="https://sky-a.asahi.co.jp/news/1444/">「投手だけでなくチーム全員に声かけを！九州共立大学の４番打者！」<ruby>笹原 愛斗<rp>（</rp><rt>ササハラ マナト</rt><rp>）</rp></ruby>(九州共立大学)</a></dd>
          </dl>
          <p class="program-column-text"><a href="https://sky-a.asahi.co.jp/news/1444/">合宿初日の紅白戦。ひらつか球場に響き渡る大きな声が！その声の主は九州共立大学４年、笹原愛斗くん！ずっとキャッチャーとしてプレーしてきた...</a></p>
          <p class="program-column-link"><a href="https://sky-a.asahi.co.jp/news/1444/">続きを読む</a></p>
        </div>
      </li>
      <li class="program-column-list">
        <div class="program-column-visual"><a href="https://sky-a.asahi.co.jp/news/1433/"><span class="program-column-number type2">#06</span> <img alt="" height="140" src="/img/special/draft2024/column2_6.jpg" width="360"> </a></div>
        <div class="program-column-detail">
          <dl class="program-column-title">
            <dt><a href="https://sky-a.asahi.co.jp/news/1433/">2024/09/20　突撃取材日記 その6</a></dt>
            <dd><a href="https://sky-a.asahi.co.jp/news/1433/">「憧れの先輩の背中を追いかけてプロの世界を目指す！大学代表の４番打者！」<ruby>西川 史礁<rp>（</rp><rt>ニシカワ ミショウ</rt><rp>）</rp></ruby>(青山学院大学)</a></dd>
          </dl>
          <p class="program-column-text"><a href="https://sky-a.asahi.co.jp/news/1433/">2024年３月の侍JAPAN×欧州代表戦にて初打席初安打初打点を含むマルチ安打という素晴らしいデビューをした西川くん。この影響もあって、選考合...</a></p>
          <p class="program-column-link"><a href="https://sky-a.asahi.co.jp/news/1433/">続きを読む</a></p>
        </div>
      </li>
      <li class="program-column-list">
        <div class="program-column-visual"><a href="https://sky-a.asahi.co.jp/news/1432/"><span class="program-column-number type2">#05</span> <img alt="" height="140" src="/img/special/draft2024/column2_5.jpg" width="360"> </a></div>
        <div class="program-column-detail">
          <dl class="program-column-title">
            <dt><a href="https://sky-a.asahi.co.jp/news/1432/">2024/09/20　突撃取材日記 その5</a></dt>
            <dd><a href="https://sky-a.asahi.co.jp/news/1432/">「夢はそっくりバッテリーを組むこと！相方はプロの世界で大活躍中のあの選手！」<ruby>印出 太一<rp>（</rp><rt>インデ タイチ</rt><rp>）</rp></ruby>(早稲田大学)</a></dd>
          </dl>
          <p class="program-column-text"><a href="https://sky-a.asahi.co.jp/news/1432/">早稲田大学硬式野球部のキャプテンである印出くん。この選考合宿初日のキャプテンに任命され、チームをまとめている姿がありました。「周りを...</a></p>
          <p class="program-column-link"><a href="https://sky-a.asahi.co.jp/news/1432/">続きを読む</a></p>
        </div>
      </li>
      <li class="program-column-list">
        <div class="program-column-visual"><a href="https://sky-a.asahi.co.jp/news/1423/"><span class="program-column-number type2">#04</span> <img alt="" height="140" src="/img/special/draft2024/column2_4.jpg" width="360"> </a></div>
        <div class="program-column-detail">
          <dl class="program-column-title">
            <dt><a href="https://sky-a.asahi.co.jp/news/1423/">2024/09/12　突撃取材日記 その4</a></dt>
            <dd><a href="https://sky-a.asahi.co.jp/news/1423/">「大好きなのはあの元アイドル！最速147キロの直球を持つプロ注目左腕！」<ruby>児玉 悠紀<rp>（</rp><rt>コダマ ハルキ</rt><rp>）</rp></ruby>(青山学院大学)</a></dd>
          </dl>
          <p class="program-column-text"><a href="https://sky-a.asahi.co.jp/news/1423/">6月22日・23日・24日の３日間、神奈川県平塚市にある「バッティングパレス相石スタジアムひらつか」にて開催された「侍ジャパン大学選考合宿」...</a></p>
          <p class="program-column-link"><a href="https://sky-a.asahi.co.jp/news/1423/">続きを読む</a></p>
        </div>
      </li>
      <li class="program-column-list">
        <div class="program-column-visual"><a href="https://sky-a.asahi.co.jp/news/1396/"><span class="program-column-number type2">#03</span> <img alt="" height="140" src="/img/special/draft2024/column2_3.jpg" width="360"> </a></div>
        <div class="program-column-detail">
          <dl class="program-column-title">
            <dt><a href="https://sky-a.asahi.co.jp/news/1396/">2024/08/15　突撃取材日記 その3</a></dt>
            <dd><a href="https://sky-a.asahi.co.jp/news/1396/">「野球では絶対に負けたくない！世代No.1投手の夢」<ruby>金丸 夢斗<rp>（</rp><rt>カネマル ユメト</rt><rp>）</rp></ruby>(関西大)</a></dd>
          </dl>
          <p class="program-column-text"><a href="https://sky-a.asahi.co.jp/news/1396/">関西大学KAISERS BASEBALL FIELDでストローをくわえながら、一見変わったトレーニングをしていたのはエース、金丸夢斗くん!!兵庫県の神港橘高...</a></p>
          <p class="program-column-link"><a href="https://sky-a.asahi.co.jp/news/1396/">続きを読む</a></p>
        </div>
      </li>
      <li class="program-column-list">
        <div class="program-column-visual"><a href="https://sky-a.asahi.co.jp/news/1375/"><span class="program-column-number type2">#02</span> <img alt="" height="140" src="/img/special/draft2024/column2_2.jpg" width="360"> </a></div>
        <div class="program-column-detail">
          <dl class="program-column-title">
            <dt><a href="https://sky-a.asahi.co.jp/news/1375/">2024/08/02　突撃取材日記 その2</a></dt>
            <dd><a href="https://sky-a.asahi.co.jp/news/1375/">「明治大学硬式野球部記録更新の立役者なるか！？明治大学からプロ野球界のプリンスへ！」<ruby>宗山 塁<rp>（</rp><rt>ムネヤマ ルイ</rt><rp>）</rp></ruby>(明治大)</a></dd>
          </dl>
          <p class="program-column-text"><a href="https://sky-a.asahi.co.jp/news/1375/">＼いちっ！にっ！さんっ！しっ！ごっ！／明治大学内海・島岡ボールパークの室内練習場に響き渡る選手たちの大きな声と“ビュンッ！”というキレの...</a></p>
          <p class="program-column-link"><a href="https://sky-a.asahi.co.jp/news/1375/">続きを読む</a></p>
        </div>
      </li>
      <li class="program-column-list">
        <div class="program-column-visual"><a href="https://sky-a.asahi.co.jp/news/1367/"><span class="program-column-number type2">#01</span> <img alt="" height="140" src="/img/special/draft2024/column2_1.jpg" width="360"> </a></div>
        <div class="program-column-detail">
          <dl class="program-column-title">
            <dt><a href="https://sky-a.asahi.co.jp/news/1367/">2024/07/22　突撃取材日記 その1</a></dt>
            <dd><a href="https://sky-a.asahi.co.jp/news/1367/">「寮の同じ部屋で過ごした仲間とともにプロの世界へ！！」<ruby>渡部 聖弥<rp>（</rp><rt>ワタナベ セイヤ</rt><rp>）</rp></ruby>(大阪商業大)</a></dd>
          </dl>
          <p class="program-column-text"><a href="https://sky-a.asahi.co.jp/news/1367/">緑に囲まれた自然豊かな大阪商業大学のグラウンドに響く強烈な打球音。バッターボックスには渡部聖弥くんの姿が！夏の甲子園に24回出場し、...</a></p>
          <p class="program-column-link"><a href="https://sky-a.asahi.co.jp/news/1367/">続きを読む</a></p>
        </div>
      </li>
    </ol>
  </section>
</div>

<div class="content-block light-gray">
  <section class="player" id="program3">
    <h2 class="player-title">2024年ドラフト、注目の選手たち</h2>
    <!-- 注目選手予告 -->
    <%#
    <p class="heading-title">
      <span>coming soon</span>
      <br>
      夏の甲子園終了後に、ドラフト注目選手を掲載予定！
    </p>
%>

    <ul class="player-navi">
      <li class="player-navi__item">
        <a class="player-navi__link" href="#block1"><span class="player-navi__state">高校生</span></a>
      </li>
      <li class="player-navi__item">
        <a class="player-navi__link" href="#block2"><span class="player-navi__state">大学生</span></a>
      </li>
      <li class="player-navi__item">
        <a class="player-navi__link" href="#block3"><span class="player-navi__state">社会人</span></a>
      </li>
    </ul>

    <div class="player-cards">
      <article class="player-card" id="block1">
        <img alt="坂井遼" class="player-card-image" src="../../img/special/draft2024/player_01.jpg" />
        <p class="player-card-copy">Photo：野球太郎</p>
        <h3 class="player-card-name content-title">坂井遼<span>（サカイ ハル）</span></h3>
        <p class="player-card-text content-text">
          関東第一高<br>
          投手/178cm・78kg　右投右打<br>
          千葉県出身。小学5年から軟式野球を始め、中学では江戸川南ボーイズにて外野手としてプレー。関東第一高入学後に投手転向し、第106回全国高校野球選手権大会では自己最速の151キロをマーク、チームを夏の甲子園初の決勝進出へと導いた。女手一つで育ててくれた母への恩返しのためにプロの世界を目指している。
        </p>
      </article>
      <article class="player-card">
        <img alt="箱山遥人" class="player-card-image" src="../../img/special/draft2024/player_02.jpg" />
        <p class="player-card-copy">Photo：野球太郎</p>
        <h3 class="player-card-name content-title">箱山遥人<span>（ハコヤマ ハルト）</span></h3>
        <p class="player-card-text content-text">
          健大高崎高<br>
          捕手/177cm・84kg　右投右打<br>
          東京都出身。小学1年から軟式野球を始め、中学では江戸川中央シニアでプレー。<br>
          健大高崎では1年秋から正捕手としてベンチ入り。3年春の選抜ではチームを初の決勝進出、そして初優勝へと導いた。持ち前の強肩強打でプロからの高評価を得ている。
        </p>
      </article>
      <article class="player-card" id="block2">
        <img alt="中村優斗" class="player-card-image" src="../../img/special/draft2024/player_03.jpg" />
        <p class="player-card-copy">Photo：野球太郎</p>
        <h3 class="player-card-name content-title">中村優斗<span>（ナカムラ ユウト）</span></h3>
        <p class="player-card-text content-text">
          愛知工業大<br>
          投手/176cm・81kg　右投左打<br>
          長崎県出身。小学2年から軟式野球を始め、中学でも軟式野球部に所属。<br>
          諫早農業高校では甲子園出場の経験はなく、愛知工業大学入学後は主に先発として活躍。2024年3月には侍ジャパン強化試合(欧州代表戦)の2戦目に2番手として登板。最速157キロ、1回1奪三振無失点の好投。その後春季リーグ戦(第4週中京大戦)にて自己最速となる159キロをマーク。大学トップクラスの右腕だと注目されている。
        </p>
      </article>
      <article class="player-card">
        <img alt="寺西成騎" class="player-card-image" src="../../img/special/draft2024/player_04.jpg" />
        <p class="player-card-copy">Photo：野球太郎</p>
        <h3 class="player-card-name content-title">寺西成騎<span>（テラニシ ナルキ）</span></h3>
        <p class="player-card-text content-text">
          日本体育大<br>
          投手/186cm・85kg　右投右打<br>
          石川県出身。小学3年から軟式野球を始め、根上中3年夏に軟式野球部で全国出場。<br>
          U-15日本代表でアジア選手権優勝も経験している。<br>
          星稜高校時代は1年夏から甲子園を経験するも、2年時に発症した怪我の影響でプロ志望届を提出せず、日本体育大学に進学。<br>
          日本体育大学では3年春からベンチ入りをし、首都大学リーグに登板。ケガの困難を乗り越え、プロの世界を目指している。
        </p>
      </article>
      <article class="player-card" id="block3">
        <img alt="野口泰司" class="player-card-image" src="../../img/special/draft2024/player_05.jpg" />
        <p class="player-card-copy">Photo：野球太郎</p>
        <h3 class="player-card-name content-title">野口泰司<span>（ノグチ タイシ）</span></h3>
        <p class="player-card-text content-text">
          NTT東日本<br>
          捕手/180cm・94kg 右投右打<br>
          愛知県出身。小学1年から野球を始め、中学時代は愛知衣浦シニアでプレー。<br>
          栄徳高校時代、強打の捕手としてプロから注目され、プロ志望届を提出するも指名がかからず、名城大学に進学。名城大学時代にも「強打の捕手」としてプロから注目されるも指名漏れ。社会人トップクラスとも言われる持ち前の強打力で二度の指名漏れからの逆襲を目指している。
        </p>
      </article>
      <article class="player-card">
        <img alt="伊原陵人" class="player-card-image" src="../../img/special/draft2024/player_06.jpg" />
        <p class="player-card-copy">Photo：野球太郎</p>
        <h3 class="player-card-name content-title">伊原陵人<span>（イハラ タカト）</span></h3>
        <p class="player-card-text content-text">
          NTT西日本<br>
          投手/170cm・75kg　左投左打<br>
          奈良県出身。智辯学園高校時代は春の選抜後からベンチ入りをし、2年時秋の新チームからエースの座を掴んだ。3年春の選抜で甲子園デビュー。同年夏の奈良大会では準決勝敗退。そこから大阪商業大学に入学し、2年時秋のリーグ戦に最優秀投手・新人賞のタイトルを獲得。NTT西日本では1年目から夏の都市対抗を経験。身長170cmと小柄ではあるが、最速149キロの直球を持つプロ注目左腕。
        </p>
      </article>
    </div>
    <p style="margin-top: 2rem;">参考：<br>
      <a href="https://www.japan-baseball.jp/" target="_blank">https://www.japan-baseball.jp/</a>　<a href="https://nishispo.nishinippon.co.jp/article/854781" target="_blank">https://nishispo.nishinippon.co.jp/article/854781</a><br>
      <a href="https://baseballking.jp/ns/column/430443" target="_blank">https://baseballking.jp/ns/column/430443</a>　<a href="https://www.sponichi.co.jp/baseball/news/2024/05/31/kiji/20240531s00001003367000c.html" target="_blank">https://www.sponichi.co.jp/baseball/news/2024/05/31/kiji/20240531s00001003367000c.html</a>
    </p>
  </section>
</div>

<div class="content-block">
  <%#  <section class="program special">
    <div class="special-content">
      <h2 class="special-title"><img src="/img/special/draft2024/illust2.png" alt="原石発掘 ドラフトハンター 2024夏" width="260" height="196" />2024/7/29（月）20:00～21:00初回放送</h2>
      <p class="special-lead">
        大本命の大学生選手や社会人即戦力候補から、この夏期待の高校生まで、2024年のドラフト注目選手を一挙にご紹介！体当たり取材で毎度おなじみ”ドラフトハンター”が今回発掘するのは…？
        キラッと光るプロ野球選手の原石たちをたっぷりお届けします。
      </p>
    </div>
    <div class="special-image">
      <img src="/img/special/draft2024/photo_01.jpg" alt="原石発掘 ドラフトハンター 2024夏" width="480" height="350" />
    </div>
  </section>%>
  <%#<section class="program">
    <a href="https://sky-a.asahi.co.jp/category/baseball/4000050/" class="program special">
      <div class="special-content">
        <h2 class="special-title">第106回全国高校野球選手権大会</h2>
        <p class="special-lead">
          今年で106回目を迎える夏の風物詩である全国高校野球。<br>
          高校球児たちがさらなる記憶と、記録に残るシーンを生み出し、またひとつ歴史を紡いでゆく。<br>
          各地方大会を勝ち抜いてきた代表49校が頂点を目指して熱戦を繰り広げる。
        </p>
      </div>
      <div class="special-image">
        <img src="https://sky-a.asahi.co.jp/siteimg/carousel/20240805123840_2_pc.jpg" alt="第106回全国高校野球選手権大会" />
      </div>
    </a>
  </section>
  <section class="program special">
    <div class="special-content">
      <h2 class="special-title"><a href="https://sky-a.asahi.co.jp/category/baseball/4000050/">第106回全国高校野球選手権大会</a></h2>

      <p class="special-lead"><a href="https://sky-a.asahi.co.jp/category/baseball/4000050/">今年で106回目を迎える夏の風物詩である全国高校野球。<br>
        高校球児たちがさらなる記憶と、記録に残るシーンを生み出し、またひとつ歴史を紡いでゆく。<br>
        各地方大会を勝ち抜いてきた代表49校が頂点を目指して熱戦を繰り広げる。 </a></p>
    </div>

    <div class="special-image"><a href="https://sky-a.asahi.co.jp/category/baseball/4000050/"><img alt="第106回全国高校野球選手権大会" src="https://sky-a.asahi.co.jp/siteimg/carousel/20240805123840_2_pc.jpg"> </a></div>
  </section>
  <section class="program special">
    <div class="special-content">
      <h2 class="special-title"><a href="https://sky-a.asahi.co.jp/category/baseball/4000025/">第5回プロ野球仮想ドラフト会議</a></h2>

      <p class="special-lead"><a href="https://sky-a.asahi.co.jp/category/baseball/4000025/">プロ野球ドラフト会議の直前に、プロ野球レジェンドOBたちが各球団のドラフト戦略、注目選手を徹底解剖！今年のドラフト１位は誰だ！<br><br>
          レジェンドOB：古田敦也、谷繁元信、赤星憲広、福留孝介、松田宣浩 </a></p>
    </div>

    <div class="special-image"><a href="https://sky-a.asahi.co.jp/category/baseball/4000025/"><img alt="第106回全国高校野球選手権大会" src="../../img/special/draft2024/virtual-draft2024.jpg"> </a></div>
  </section>
  %>
  <section class="program special">
    <div class="special-content">
      <h2 class="special-title"><a href="https://sky-a.asahi.co.jp/category/baseball/4000021/">2024プロ野球ドラフト会議 supported by リポビタンＤ</a></h2>

      <p class="special-lead"><a href="https://sky-a.asahi.co.jp/category/baseball/4000021/">2024年プロ野球ドラフト会議を生中継！最も注目が集まる１位指名から、12球団の最終指名が終わるまで、さらには育成選手指名までを追いかける。</a></p>
    </div>

    <div class="special-image"><a href="https://sky-a.asahi.co.jp/category/baseball/4000021/"><img alt="2024プロ野球ドラフト会議 supported by リポビタンＤ" src="../../img/special/draft2024/draft2024.jpg" style="border: 1px solid #ccc;"> </a></div>
  </section>
</div>

<div class="content-block beige">
  <section class="program links">
    <div class="link">
      <p><a class="top-present" href="https://www.youtube.com/channel/UCSzd2tlFW_DvVPp44JmaUrg" target="_blank">» プロ野球 ドラフトちゃんねる</a></p>

      <p class="link-content-logo">
        <a href="https://www.youtube.com/channel/UCSzd2tlFW_DvVPp44JmaUrg" target="_blank"><img alt="プロ野球　ドラフトちゃんねる" src="https://yt3.ggpht.com/JwujToYiupQuTRlWkZsfAG_kzqhCUJjLQaG0OlZ_plzmc5m96SErTM8Yww9_TT9MFfttI8S4Wg=s88-c-k-c0x00ffffff-no-rj" /></a>
      </p>

      <p class="program-content-text">
        高校野球・大学野球・社会人野球を始めとする『アマチュア野球』コンテンツを展開する「スカイA」と「ABCスポーツ」が総力を上げお届けするドラフト専門公式YouTubeチャンネル
      </p>
    </div>

    <div class="link">
      <p><a class="top-present" href="https://twitter.com/skya_baseball" target="_blank">» X スカイA野球部</a></p>

      <p class="link-content-logo">
        <a href="https://twitter.com/skya_baseball" target="_blank"><img alt="X スカイA野球部" src="/img/special/draft2024/logo_twitter.png" /></a>
      </p>

      <p class="program-content-text">CSスポーツチャンネル「スカイA」が阪神タイガース、プロ野球、ドラフト会議、フレッシュオールスターゲーム、夏の高校野球など野球情報をお届け</p>
    </div>
  </section>
</div>