<div class="content-block">
  <div class="index">
    <h2 class="index-title">INDEX</h2>
    <ul class="index-list">
      <li class="index-list-item"><a class="index-list-link" href="#program1">ドラフトまでの軌跡</a></li>
      <li class="index-list-item"><a class="index-list-link" href="#program2">突撃ドラフト取材日記</a></li>
      <li class="index-list-item"><a class="index-list-link" href="#program3">2024年ドラフト、注目の選手たち</a></li>
    </ul>
  </div>
</div>

<div class="content-block dark-gray">
  <section class="program road_to_draft" id="program1">
    <div class="program-title">
      <p class="program-title-category">column</p>
      <h2 class="program-title-text">ドラフトまでの軌跡</h2>
      <p class="program-title-sub">Road to Draft 2024</p>
    </div>
    <p class="program-title-small">アマチュア野球を中心に年間約300試合を取材、全国各地を飛び回るスポーツライター西尾典文が2024年ドラフト会議までの軌跡を綴ります。</p>

    <article class="writer-profile">
      <div class="program-content">
        <div class="program-content-visual"><img alt="西尾 典文" src="../../img/special/draft2024/column_writer1.jpg" /></div>

        <div class="program-content-detail">
          <h3 class="writer-name">西尾 典文<span>Norifumi NISHIO</span></h3>
        </div>
      </div>

      <p class="program-content-caption-text">
        1979年、愛知県生まれ。大学まで選手としてプレーした後、筑波大学大学院で野球の動作解析について研究し、在学中から技術解析などをテーマに野球専門誌に寄稿を開始。2017年からはスカイＡのドラフト会議中継で解説を務め、2021年には仮想ドラフト会議にも出演。<br />
        アマチュア野球を中心に年間約300試合を取材する熱血スポーツライター。
      </p>
    </article>
    <p class="heading-title">
      <span>coming soon</span><br>
      8月中旬公開予定！以後、毎週1本掲載していきます
    </p>
<%#
    <ol class="program-column">
      <li class="program-column-list">
        <div class="program-column-visual">
          <a href="#dummy">
            <span class="program-column-number">#04</span>
            <img alt="" src="/img/special/draft2024/column_4.jpg" width="360" height="140" />
          </a>
        </div>

        <div class="program-column-detail">
          <dl class="program-column-title">
            <dt>ドラフト展望予想その4</dt>
            <dd>2024/08/16</dd>
          </dl>

          <p class="program-column-text">10本コラム記事を掲載。週に1本程度で合計10本となります。記事をいただき次第清水様へお送りいたします。10本コラム記事を掲載。...</p>

          <p class="program-column-link"><a href="#dummy">続きを読む</a></p>
        </div>
      </li>
      <li class="program-column-list">
        <div class="program-column-visual">
          <a href="#dummy">
            <span class="program-column-number">#03</span>
            <img alt="" src="/img/special/draft2024/column_3.jpg" width="360" height="140" />
          </a>
        </div>

        <div class="program-column-detail">
          <dl class="program-column-title">
            <dt>ドラフト展望予想その3</dt>
            <dd>2024/08/16</dd>
          </dl>

          <p class="program-column-text">10本コラム記事を掲載。週に1本程度で合計10本となります。記事をいただき次第清水様へお送りいたします。10本コラム記事を掲載。...</p>

          <p class="program-column-link"><a href="#dummy">続きを読む</a></p>
        </div>
      </li>
      <li class="program-column-list">
        <div class="program-column-visual">
          <a href="#dummy">
            <span class="program-column-number">#02</span>
            <img alt="" src="/img/special/draft2024/column_2.jpg" width="360" height="140" />
          </a>
        </div>

        <div class="program-column-detail">
          <dl class="program-column-title">
            <dt>ドラフト展望予想その2</dt>
            <dd>2024/08/16</dd>
          </dl>

          <p class="program-column-text">10本コラム記事を掲載。週に1本程度で合計10本となります。記事をいただき次第清水様へお送りいたします。10本コラム記事を掲載。...</p>

          <p class="program-column-link"><a href="#dummy">続きを読む</a></p>
        </div>
      </li>
      <li class="program-column-list">
        <div class="program-column-visual">
          <a href="#dummy">
            <span class="program-column-number">#01</span>
            <img alt="" src="/img/special/draft2024/column_1.jpg" width="360" height="140" />
          </a>
        </div>

        <div class="program-column-detail">
          <dl class="program-column-title">
            <dt>ドラフト展望予想その1</dt>
            <dd>2024/08/16</dd>
          </dl>

          <p class="program-column-text">10本コラム記事を掲載。週に1本程度で合計10本となります。記事をいただき次第清水様へお送りいたします。10本コラム記事を掲載。...</p>

          <p class="program-column-link"><a href="#dummy">続きを読む</a></p>
        </div>
      </li>
    </ol>
%>
  </section>
</div>

<div class="content-block sky-blue">
  <section class="program road_to_draft diary" id="program2">
    <div class="program-title">
      <div class="program-title-main">
        <div class="program-title-content">
          <p class="program-title-category">interview</p>
          <h2 class="program-title-text diary"><img alt="新人" src="/img/special/draft2024/text_01.png" width="98" height="40" />坂下侑香の！<br />突撃ドラフト取材日記</h2>
          <p class="program-title-sub">Draft Interview Diary 2024</p>
        </div>
        <div class="program-title-image">
          <img alt="坂下侑香" src="/img/special/draft2024/column_writer2.png" width="324" height="263" />
        </div>
      </div>
    </div>

    <h3 class="program-title-small diary">ドラフトハンター注目選手たちの「声」を聞いてきました。</h3>
    <p>スカイA入社１年目の坂下侑香です！<br>
      大学時代は近畿大学体育会準硬式野球部でマネージャーを務めながら、阪神甲子園球場と京セラドーム大阪でのアルバイト生活。社会人になった今も、休日は球団や一軍二軍を問わず全国各地へ野球観戦に行くほどの野球好きの私。<br />
      家族や友人そして会社の先輩方にも推し選手について語り尽くす毎日です&hellip;！<br />
      改めてアマチュア野球の魅力にもはまり、独自の感性と目線で選手の素顔まで取材！<br />
      一人でも多くの方に野球を好きになっていただけるよう、野球愛を全力投球します！！
    </p>

    <ol class="program-column">
      <li class="program-column-list">
        <div class="program-column-visual">
          <a href="https://www.dev.sky-a.asahi.co.jp/news/357/">
            <span class="program-column-number type2">#01</span>
            <img alt="" src="/img/special/draft2024/column2_1.jpg" width="360" height="140" />
          </a>
        </div>

        <div class="program-column-detail">
          <dl class="program-column-title">
            <dt>2024/07/22　突撃取材日記 その1</dt>
            <dd>「寮の同じ部屋で過ごした仲間とともにプロの世界へ！！」<span>渡部 聖弥(大阪商業大)</span></dd>
          </dl>

          <p class="program-column-text">緑に囲まれた自然豊かな大阪商業大学のグラウンドに響く強烈な打球音。バッターボックスには渡部聖弥くんの姿が！夏の甲子園に24回出場し、...</p>

          <p class="program-column-link"><a href="https://www.dev.sky-a.asahi.co.jp/news/357/">続きを読む</a></p>
        </div>
      </li>
    </ol>
  </section>
</div>

<div class="content-block light-gray">
  <section class="player" id="program3">
    <h2 class="player-title">2024年ドラフト、注目の選手たち</h2>
    <!-- 注目選手予告 -->
    <p class="heading-title">
      <span>coming soon</span>
      <br>
      夏の甲子園終了後に、ドラフト注目選手を掲載予定！
    </p>
<%#

    <ul class="player-navi">
      <li class="player-navi__item">
        <a class="player-navi__link" href="#block1"><span class="player-navi__state">高校生</span></a>
      </li>
      <li class="player-navi__item">
        <a class="player-navi__link" href="#block2"><span class="player-navi__state">大学生</span></a>
      </li>
      <li class="player-navi__item">
        <a class="player-navi__link" href="#block3"><span class="player-navi__state">社会人</span></a>
      </li>
    </ul>

    <div class="player-cards">
      <article class="player-card" id="block1">
        <img alt="今朝丸 裕喜" class="player-card-image" height="220" src="../../img/special/draft2024/player_01.jpg" width="310" />
        <p class="player-card-copy">Photo：野球太郎</p>

        <h3 class="player-card-name content-title">石塚 裕惺<span>（イシヅカ・ユウセイ）</span></h3>

        <p class="player-card-text content-text">
          内野手　185cm　95kg　右投右打<br />
          花咲徳栄高<br />
          高校通算本塁打70本（2021年8月末時点）の大型スラッガー。スイングスピードも速く広角に長打を放つことから自校のグラウンド練習では、フェンス越えは当たり前。入学直後から4番を担うも夏の甲子園は出場ならず。悔しさを胸にプロ志望を表明する。
        </p>
      </article>

      <article class="player-card">
        <img alt="風間 球打" class="player-card-image" height="220" src="../../img/special/draft2024/player_02.jpg" width="310" />
        <p class="player-card-copy">Photo：野球太郎</p>

        <h3 class="player-card-name content-title">今朝丸 裕喜<span>（ケサマル・ユウキ）</span></h3>

        <p class="player-card-text content-text">
          投手　182㎝　81㎏　右投左打<br />
          報徳学園高<br />
          スライダー、カーブ、チェンジアップ、フォークと変化球を投げ分けるだけでなく、MAX157キロの直球も魅力の本格派右腕。夏の甲子園では2回戦で明徳義塾に敗れるも今大会最速152キロをマーク。より評価を上げた。プロ志望を表明。
        </p>
      </article>

      <article class="player-card">
        <img alt="小園 健太" class="player-card-image" height="220" src="../../img/special/draft2024/player_03.jpg" width="310" />
        <h3 class="player-card-name content-title mt">小園 健太<span>（コゾノ・ケンタ）</span></h3>

        <p class="player-card-text content-text">
          投手　184cm　89㎏　右投右打<br />
          市和歌山高<br />
          センバツ2試合で防御率0.64。球速は147キロを計測。全国高校野球選手権和歌山大会決勝では智辯和歌山に敗れ春夏連続の甲子園出場はならなかった。プロの世界で悔しさを晴らす。
        </p>
      </article>

      <article class="player-card">
        <img alt="金丸 夢斗" class="player-card-image" height="220" src="../../img/special/draft2024/player_04.jpg" width="310" />
        <h3 class="player-card-name content-title">金丸 夢斗<span>（カネマル・ユメト）</span></h3>

        <p class="player-card-text content-text">
          投手　193cm　85㎏ 右投右打<br />
          関西大<br />
          MAX148キロの直球とフォークが武器の本格派右腕。秋の近畿大会では大阪桐蔭相手に10奪三振。手足の長さ、将来性に期待を寄せる。全国高校野球選手権奈良大会準決勝で高田商に敗れ夏の甲子園出場はならず。将来の夢はトップメジャーリーガー。
        </p>
      </article>

      <article class="player-card">
        <img alt="西川 史礁" class="player-card-image" height="220" src="../../img/special/draft2024/player_05.jpg" width="310" />
        <h3 class="player-card-name content-title">西川 史礁<span>（ニシカワ・ミショウ）</span></h3>

        <p class="player-card-text content-text">
          投手　184cm　87㎏ 右投右打<br />
          青山学院大<br />
          最速154キロの剛腕。中学時代に軟式史上最速150キロを記録し、全国大会で春夏連覇も達成した元スーパー中学生。春季高知大会決勝では当時自己最速の152キロを記録し県大会優勝へ導く。全国高校野球選手権高知大会決勝で明徳義塾に敗れ今年の夏の甲子園へは出場ならず。
        </p>
      </article>

      <article class="player-card" id="block2">
        <img alt="宗山 塁" class="player-card-image" height="220" src="../../img/special/draft2024/player_06.jpg" width="310" />
        <h3 class="player-card-name content-title">宗山 塁<span>（ムネヤマ・ルイ）</span></h3>

        <p class="player-card-text content-text">
          投手　176cm　76kg 左投左打<br />
          明治大学<br />
          九州№１左腕。持ち球はカーブ、スライダー、カットボール、ツーシーム、チェンジアップ、スプリットで全球種が勝負球に使える。大学に入って頭角を現した。
        </p>
      </article>

      <article class="player-card">
        <img alt="徳丸 天晴" class="player-card-image" height="220" src="../../img/special/draft2024/player_07.jpg" width="310" />
        <h3 class="player-card-name content-title">徳丸 天晴<span>（トクマル・テンセイ）</span></h3>

        <p class="player-card-text content-text">
          内野手　182cm　87kg 右投右打<br />
          NTT西日本<br />
          今春リーグでは4本塁打。大学選手権は準決勝と決勝で2試合連続本塁打を放ちMVPに選ばれた。
        </p>
      </article>

      <article class="player-card" id="block3">
        <img alt="山田 健太" class="player-card-image" height="220" src="../../img/special/draft2024/player_08.jpg" width="310" />
        <h3 class="player-card-name content-title">山田 健太<span>（ヤマダ・ケンタ）</span></h3>

        <p class="player-card-text content-text">
          投手　177cm　80kg　左投左打<br />
          日本生命<br />
          関西大では明治神宮大会決勝で慶応義塾大に敗れたが8回途中まで5安打6奪三振。最速149キロの左腕。社会人2年目の今季、ドラフト候補に。甲子園出場はなし。
        </p>
      </article>

      <article class="player-card">
        <img alt="鷲尾 昂哉" class="player-card-image" height="220" src="../../img/special/draft2024/player_09.jpg" width="310" />
        <h3 class="player-card-name content-title">鷲尾 昂哉<span>（ワシオ・コウヤ）</span></h3>

        <p class="player-card-text content-text">
          投手　175cm　79kg　右投右打<br />
          三菱重工West<br />
          一年目で都市対抗に出場し、自己最速の154キロを記録した本格派右腕。回転数も多く、質の高い直球を投げ、連投もできる。都市対抗では若獅子賞(新人賞)、今春の東京スポニチ大会で最高殊勲選手を受賞と、社会人で実績を積んできた。
        </p>
      </article>
    </div>
%>
  </section>
</div>

<div class="content-block">
  <section class="program special">
    <div class="special-content">
      <h2 class="special-title"><img src="/img/special/draft2024/illust2.png" alt="原石発掘 ドラフトハンター 2024夏" width="260" height="196" />2024/7/29（月）20:00～21:00初回放送</h2>
      <p class="special-lead">
        大本命の大学生選手や社会人即戦力候補から、この夏期待の高校生まで、2024年のドラフト注目選手を一挙にご紹介！体当たり取材で毎度おなじみ”ドラフトハンター”が今回発掘するのは…？
        キラッと光るプロ野球選手の原石たちをたっぷりお届けします。
      </p>
    </div>
    <div class="special-image">
      <img src="/img/special/draft2024/photo_01.jpg" alt="原石発掘 ドラフトハンター 2024夏" width="480" height="350" />
    </div>
  </section>
</div>

<div class="content-block beige">
  <section class="program links">
    <div class="link">
      <p><a class="top-present" href="https://www.youtube.com/channel/UCSzd2tlFW_DvVPp44JmaUrg" target="_blank">» プロ野球 ドラフトちゃんねる</a></p>

      <p class="link-content-logo">
        <a href="https://www.youtube.com/channel/UCSzd2tlFW_DvVPp44JmaUrg" target="_blank"><img alt="プロ野球　ドラフトちゃんねる" src="https://yt3.ggpht.com/JwujToYiupQuTRlWkZsfAG_kzqhCUJjLQaG0OlZ_plzmc5m96SErTM8Yww9_TT9MFfttI8S4Wg=s88-c-k-c0x00ffffff-no-rj" /></a>
      </p>

      <p class="program-content-text">
        高校野球・大学野球・社会人野球を始めとする『アマチュア野球』コンテンツを展開する「スカイA」と「ABCスポーツ」が総力を上げお届けするドラフト専門公式YouTubeチャンネル
      </p>
    </div>

    <div class="link">
      <p><a class="top-present" href="https://twitter.com/skya_baseball" target="_blank">» X スカイA野球部</a></p>

      <p class="link-content-logo">
        <a href="https://twitter.com/skya_baseball" target="_blank"><img alt="X スカイA野球部" src="/img/special/draft2024/logo_twitter.png" /></a>
      </p>

      <p class="program-content-text">CSスポーツチャンネル「スカイA」が阪神タイガース、プロ野球、ドラフト会議、フレッシュオールスターゲーム、夏の高校野球など野球情報をお届け</p>
    </div>
  </section>
</div>