.sp-view {
  display: none;
}
.c-sptv {
  text-align: center;
}

.c-sptv-link {
  display: inline-block;
}

#contents-inner {
  width: 100%;
  background: #fff;
}

#pkz {
  background: #cc0000;
  margin: 0;
  padding: 16px 43px;
}

#pkz p {
  color: #fff;
}

#pkz p a {
  color: inherit;
}

div#contWarp {
  border: none;
  background: transparent;
  width: 100%;
}

div#main {
  padding: 0;
}

.draft {
  .content-block {
    &.beige {
      background: #f4f0eb;
    }

    &.gray {
      background: #dadceb;
    }

    &.light-blue {
      background: #e5edf9;
    }

    &.sky-blue {
      background: #0099ff;
      color: #fff;
    }

    &.green {
      background: #006666;
      color: #fff;

      a {
        color: #fff;
      }
    }

    &.red {
      color: #000;
      background: #ff0000;
      .heading-title {
        font-size: 42px;
        padding: 80px 0 70px;


        span {
          font-size: 32px;
          color: #fff;
        }
      }
    }

    &.dark-gray {
      color: #fff;
      background: #333333;
    }

    &.light-gray {
      background: #c8cbda;
    }
  }

  .content-text, p {
    font-size: 14px;
    line-height: 1.7;
  }

  .top-title {
    img {
      margin: 0 auto;
      height: auto;
      width: 100%;
    }
  }

  .player {
    max-width: 1000px;
    margin: 0 auto;
    padding: 65px 0 84px;
  }

  .player-title {
    font-size: 36px;
    display: flex;

    &::before {
      content: '';
      background: url('../../img/special/draft2024/icon2.png') left top
        no-repeat;
      background-size: 56px 50px;
      height: 50px;
      margin: 0 7px 0 0;
      width: 56px;
    }
  }

  .player-navi {
    display: flex;
    margin: 18px 0 0;

    &__item {
      margin-right: 10px;
    }

    &__link {
      align-items: center;
      background: #fff;
      min-width: 120px;
      min-height: 36px;
      font-size: 14px;
      letter-spacing: 1px;
      display: flex;
      justify-content: center;
      position: relative;
      padding-left: 10px;

      &::before,
      &::after {
        position: absolute;
        content: '';
        margin: auto;
      }

      &::before {
        background: #ccc;
        border-radius: 50%;
        bottom: 0;
        left: 12px;
        top: 0;
        vertical-align: middle;
        width: 17px;
        height: 17px;
      }

      &::after {
        top: 13px;
        left: 16px;
        vertical-align: middle;
        width: 6px;
        height: 6px;
        border-top: 2px solid #fff;
        border-right: 2px solid #fff;
        border-radius: 2px;
        transform: rotate(135deg);
      }

      &:hover {
        background: #0099ff;
        color: white;
        opacity: inherit;

        &::before {
          background: #fff;
        }

        &::after {
          border-top: 2px solid #0099ff;
          border-right: 2px solid #0099ff;
        }
      }
    }
  }

  .player-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 55px 0 0;
    gap: 40px;
  }

  .player-card {
    width: calc((100% - 40px) / 2 );
//    margin-right: 35px;

    &:nth-of-type(3n) {
//      margin-right: 0;
    }

    &:nth-of-type(n + 4) {
//      margin-top: 40px;
    }
  }

  .player-card-image {
    width: 100%;
    height: auto;
  }

  .player-card-copy {
    color: #999999;
    font-size: 12px;
    margin: 5px 0 0;
    text-align: right;
  }

  .player-card-name {
    font-size: 22px;
    margin: 14px 0 0;

    &.mt {
      margin-top: 40px;
    }

    span {
      color: #666;
      font-size: 16px;
      font-weight: normal;
    }
  }

  .player-card-text {
    font-size: 16px;
    line-height: 1.9;
    margin: 6px 0 0;
  }

  .program {
    max-width: 1000px;
    margin: 0 auto;
    padding: 65px 0 80px;

    &.diary {
      position: relative;
      &::before {
        background-image: url(../../img/special/draft2024/illust1.png);
        background-repeat: no-repeat;
        content: '';
        height: 269px;
        left: -85px;
        top: 75px;
        position: absolute;
        width: 327px;
      }
    }
  }

  .program-title {
    position: relative;
  }

  .program-title-text {
    font-size: 42px;
    line-height: 1.5;
  }

  .program-title-sub {
    color: #660000;
    font-size: 18px;
    font-weight: bold;
  }

  .program-title-small {
    font-size: 36px;
    font-weight: bold;
    line-height: 1;
  }

  .program-title-main {
    display: flex;
    justify-content: space-between;
  }

  .program-title-image {
    margin-top: 30px;
  }

  .program-content {
    display: flex;
    line-height: 2;
    margin: 20px 0 0;

    &.mt {
      margin-top: 40px;
    }
  }

  .program-content-detail {
    margin: -10px 0 0 27px;

    &.narrow {
      margin: -10px 0 0 40px;
    }
  }

  .program-content-text {
    font-size: 16px;
  }

  .program-content-link {
    margin-top: 2em;
    font-size: 16px;

    a img {
      display: inline-block;
      margin-right: 10px;
      vertical-align: middle;
    }
  }

  .program-content-caption-text {
    font-size: 13px;
    line-height: 1.6;
    margin-top: 10px;
    padding-left: 120px;
  }

  .content-bottom {
    padding: 120px 0 40px;
  }

  .links {
    display: flex;
    justify-content: space-between;

    .link {
      width: calc((100% - 60px) / 2);
    }

    .link-content-logo {
      width: 120px;
      height: 120px;
      margin: 0 auto 1em;

      img {
        border-radius: 50%;
        width: 100%;
        height: auto;
      }
    }
  }

  .heading-title {
    padding: 40px 0;
    font-size: 32px;
    font-weight: bold;
    //text-align: center;
    line-height: 1.5;
  }
  
  .center {
    text-align: center!important;
  }

  .road_to_draft {
    .program-title-category {
      font-size: 18px;
    }

    .program-title-text {
      font-size: 58px;
      margin-top: 30px;

      img {
        display: inline;
        margin: 0 5px 5px 0;
      }

      &.diary {
        line-height: 1.1;
      }
    }

    .program-content {
      display: flex;
      margin-top: 80px;
      padding-left: 100px;
      position: relative;
    }

    .program-title-sub {
      color: #fff;
      font-size: 24px;
      font-weight: normal;
    }

    .program-title-small {
      margin-top: 34px;
      font-size: 22px;
      font-weight: normal;
      line-height: 1.5;

      &.diary {
        margin: -30px 0 1em;
      }
    }

    .program-content-visual {
      position: absolute;
      left: 0;
      img {
        width: 100px;
        height: auto;
      }
    }

    .writer-name {
      font-size: 22px;
      line-height: 1;
      font-weight: bold;

      span {
        font-size: 16px;
        font-weight: normal;
        margin-left: 0.5em;
      }
    }

    .program-content-detail {
      width: auto;
      margin: 0 0 0 20px;
    }

    .program-content-caption-text {
      font-size: 14px;
    }

    .program-column {
      margin-top: 50px;
      a {
        color: #fff;
      }
    }

    .program-column-list {
      display: flex;
      padding: 40px 0;
      border-top: 1px #fff solid;
      border-bottom: 1px #fff solid;

      & + li {
        border-top: 0;
        border-bottom: 1px #fff solid;
      }
    }

    .program-column-visual {
      flex: 0 0 360px;
      position: relative;
      &-caption {
        display: block;
        margin-top: .5em;
      }
    }

    .program-column-number {
      background: #ff0000;
      color: #fff;
      font-size: 26px;
      font-style: italic;
      left: 0;
      padding: 2px 8px;
      position: absolute;
      top: 0;

      &.type2 {
        background: #ff6500;
      }
    }

    .program-column-detail {
      margin: 0 0 0 80px;
    }

    .program-column-title {
//      display: flex;
//      justify-content: space-between;

      dt {
        font-size: 16px;
        font-weight: normal;
      }

      dd {
        font-size: 22px;
        font-weight: bold;
      }
      span {
//        font-size: 16px;
      }
    }

    .program-column-text {
      font-size: 16px;
      line-height: 2;
      margin: 10px 0 35px;
    }

    .program-column-link {
      text-align: right;
      font-size: 14px;

      a {
        color: #fff;
        &::before {
          content: '→ ';
        }
      }
    }
  }

  .top-present {
    position: relative;
    display: block;
    width: 300px;
    margin: 25px auto;
    text-align: center;
    font-size: 16px;
    padding: 1em 2em;
    color: #fff;
    background: #0067fe;
    font-weight: bold;
    border-radius: 0.5em;

    &::after {
      border: solid transparent;
      content: '';
      height: 0;
      width: 0;
      pointer-events: none;
      position: absolute;
      border-color: rgba(0, 153, 255, 0);
      border-top-width: 10px;
      border-bottom-width: 10px;
      border-left-width: 10px;
      border-right-width: 10px;
      margin-left: -10px;
      border-top-color: #0067fe;
      top: 100%;
      left: 50%;
    }
  }

  // Additioanl Style
  .banner-list {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    margin: 0 auto 60px;
    max-width: 1820px;
    padding: 0 10px;
  }

  .draft-map {
    height: 0;
    margin: 60px 0 72px;
    padding: 52% 0 0;
    position: relative;
    width: 100%;

    iframe {
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }

  .article-column {
    margin-bottom: 40px;
  }

  .article-column-list {
    align-items: flex-start;
    border-top: 1px solid #fff;
    display: flex;
    padding: 20px 0 30px;

    &:last-child {
      border-bottom: 1px solid #fff;
    }
  }

  .article-column-date {
    align-items: center;
    display: flex;
    font-size: 16px;

    &::before {
      content: '';
      background: url('../../img/special/draft2024/icon1.png') left top
        no-repeat;
      background-size: 45px 45px;
      height: 45px;
      margin: 0 14px 0 0;
      width: 45px;
    }
  }

  .article-column-text {
    font-size: 20px;
    padding: 10px 20px 0 30px;
  }

  .article-column-link {
    font-size: 14px;
    margin: 10px 0 0 auto;
    white-space: nowrap;

    &::before {
      content: '→ ';
    }
  }

  .index {
    display: flex;
    gap: 25px;
    margin: 0 auto;
    max-width: 1000px;
    padding: 15px 0 78px;
    width: fit-content;
  }

  .index-title {
    color: #999999;
  }

  .index-list {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
  }

  .index-list-link {
    font-size: 18px;

    &::before {
      content: '▼';
      font-size: 16px;
      margin-right: 4px;
    }
  }

  .special {
    align-items: flex-start;
    display: flex;
    flex-direction: row-reverse;
    gap: 40px;
  }

  .special-content,
  .special-image {
    flex: 1;
  }

  .special-image {
    max-width: 480px;
  }

  .special-title {
    font-size: 20px;
    img {
      display: block;
      margin: 0 0 .4em;
    }
  }
  .special-lead {
    font-size: 18px;
    line-height: 1.65;
    margin: 15px 0 0;
  }
}
