---
layout: layouts/base.ejs
title: 2024年10月24日は運命の日
stylesheet: /css/special/special_draft2024.css
---

<div class="draft">
  <h1 class="top-title"><img alt="プロ野球ドラフト会議 supported by リポビタンD 2024年10月24日は運命の日" src="../../img/special/draft2024/main-image.jpg" width="1920" height="1098" /></h1>

  <div class="content-block head">
    <p class="heading-title center">
      全12球団の、最も注目が集まる１位指名から最終指名、<br />
      さらには育成選手指名まで、次世代のスター選手誕生の瞬間を完全生中継！
    </p>
    <!-- .banner-listはPC/SP共通-->
    <%- include('../_includes/contents/banner-list') %>
  </div>

  <!-- PC・SP共通ソース-->
  <%- include('../_includes/contents/draft2024') %>
  <!-- ./PC・SP共通ソース-->

  <div class="content-bottom">
    <div class="c-sptv">
      <a class="c-sptv-link" href="https://promo.skyperfectv.co.jp/guide/?skya=howto" onclick="ga('send', 'event', 'click', 'draft2024_pc');" target="_blank"
        ><img
          alt="スカイA見るならスカパー！ スカイAはスカパー！ CS250ch　加入料0円、月額1,529円（税込）、録画OK　お申込み・お問合せはスカイＡ カスタマーセンター　0570-066-250 年中無休（10:00～20:00）　スカイＡはスカパー！、ケーブルテレビ、ひかりTVでご視聴いただけます。　お申込みはこちら"
          src="../../img/special/draft2024/sptv1.jpg"
        />
      </a>
    </div>
  </div>
</div>
