---
layout: layouts/base_sp.ejs
title: 2024年10月24日は運命の日
stylesheet: /css/sp/special/special_draft2024.css
---

<div class="head-banner"><img alt="" src="https://sky-a.asahi.co.jp/img/sp/global/company_icon.png" /> <span> 特設サイト </span></div>
<div class="draft">
  <h1 class="top-title"><img alt="プロ野球ドラフト会議 supported by リポビタンD 2024年10月24日は運命の日" src="../../img/sp/special/draft2024/main-image.jpg" width="640" height="690" /></h1>

  <div class="content-block head">
    <div class="head-icon">
      <img src="../../img/sp/special/draft2024/icon_draft.png" alt="スポーツ専門チャンネルで放送する今日・明日の番組" width="183" height="170" />
    </div>
    <p class="heading-title center">
      全12球団の、最も注目が集まる１位指名から<br />最終指名、さらには育成選手指名まで、<br />次世代のスター選手誕生の瞬間を完全生中継。<br />指名を受けた選手の交渉権は<br />どの球団が獲得するのか注目です。
    </p>
  </div>
  <!-- PC・SP共通ソース-->
  <%- include('../_includes/contents/draft2024') %>
  <!-- ./PC・SP共通ソース-->

  <!-- .banner-listはPC/SP共通-->
  <%- include('../_includes/contents/banner-list') %>

  <div class="content-bottom">
    <div class="c-sptv">
      <a class="c-sptv-link" href="https://promo.skyperfectv.co.jp/guide/?skya=howto" onclick="ga('send', 'event', 'click', 'draft2024_sp');" target="_blank">
        <span class="m-sptvLink__title">スカイA見るならスカパー！</span>
        <img
          alt="CS250ch　加入料0円、月額1,529円（税込）、録画OK　お申込み・お問合せはスカイＡ カスタマーセンター　0570-066-250 年中無休（10:00～20:00）　スカイＡはスカパー！、ケーブルテレビ、ひかりTVでご視聴いただけます。　お申込みはこちら"
          src="../../img/sp/special/draft2024/sptv2.png"
        />
      </a>
    </div>
  </div>
</div>
